body {

    background-image: url('../thumbnail_large.jpg');
    background-size: cover;
    
    font-family: Arial;
    color: white;
    background: linear-gradient(50% 100%);
    

}
.container{
width: 80%;
margin: 0 auto;

}
header{
background: #5589d6;

}
header::after{
content: '';
display: table;
clear: both;
}

nav{
float:right;
}
nav ul{
margin: 0;
padding: 0;
list-style: none;

}
nav li{
display: inline-block;
margin-left: 75px;
padding-top: 23px;

position: relative;

}

nav a{
    color:aqua;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    
}
nav a:hover{
    color: #000;
}
nav a::before{
    content: '';
    display: block;
    height: 5px;
    
    background-color: #444;
position: absolute;
top: 0;
width: 0%;
transition: all ease-in-out 250ms;
}
nav a :hover::before{

width: 100%;
}






